<html>
    <head>
        <meta charset="utf-8">
        <title> Les Plats </title>
    </head>
        
    <body>
	
        <h2> {{ plat.nom }} </h2>
                    <h3>type</h3>  <p> {{ plat.type }} </p>
                    <h3>description</h3>  <p> {{ plat.description }} </p>
                    
                    
        <a href= "{{ path('plat') }}" > Retour à la liste </a>      
                 
    </body>
</html>
{# empty Twig template #}
